body {
    font-family: Roboto, sans-serif;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.header-logo {
    color: #f9faf8;
    font-size: 18px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: #e5e7eb;       
    text-decoration: none; 
    font-size: 14px;
}


.hero-main {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 150px;
    color: #f9faf8;
    padding-bottom: 150px;
}

.hero-main-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero .signup-btn {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.hero-img-placeholder {
    display: flex;
    background-color: grey;
    align-items: flex-start;
    padding: 120px;
}

.random-info {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.random-info-head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.random-img-content {
    display: flex;
    gap: 30px;
    /* space between cards */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    flex: 0 1 220px;
}

.card img {
    width: 220px;
    height: 220px;
    display: block;
    margin: 0 auto 12px;
    /* space under image */
}

.random-img-text {
    max-width: 220px;
    margin: 0 auto;
    color: #475569;
    line-height: 20px;
    font-size: 16px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 60px 20px;
    text-align: center;
}

.quote {
    font-size: 28px;
    font-weight: 300;
    color: #1f2937;
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 38px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    max-width: 800px;
    margin: 0 auto;
}

.cta {
    background-color: #3b82f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    margin: 60px auto;
    max-width: 1000px;
    border-radius: 10px;

}

.cta-text {
    max-width: 600px;
}

.cta-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cta-sub {
    font-size: 16px;
    font-weight: 400;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.footer {
    
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}